<body>
    
  <div class="contenitore">
  
      <div class="tex">
      <a routerLink="/tex"><button class="btn">Tex</button></a>
      <img  src="/assets/img/tex.jpg" alt="">
      </div>
  
      <div class="tex">
      <a routerLink="/onepiece"><button class="btn">One Piece</button></a>
      <img src="/assets/img/onepiece.jpg" alt="">
      </div>
  
      <div class="tex">
          <a routerLink="/ratman"><button class="btn">Rat-Man</button></a>
          <img  src="/assets/img/ratman.jpg" alt="">
      </div>
  
  </div>
  
  </body>
  
